<%- include('../partials/header.ejs')%>
<div id="empty-container"></div>
<div class="d-flex flex-wrap justify-content-center text-center container">
  <a href="/designs">Back</a>
  <div>
    <h3><%=work.title%></h3>
    <img src="<%=work.img%>" />
    <p><%=work.desc%></p>
  </div>
</div>

<%- include('../partials/footer.ejs')%>
